#langchain modules
langchain-community
langchain-unstructured 
unstructured-client 
unstructured 
unstructured[pdf]
python-magic
langchain-groq
langchain-huggingface

# tools
sentence-transformers
qdrant-client == 1.7.3