#langchain modules
langchain-community
langchain-unstructured 
unstructured-client 
unstructured 
unstructured[pdf]
python-magic
langchain-groq
langchain-huggingface

# tools
sentence-transformers
qdrant-client == 1.7.3
ragas

# llm api
google-generativeai 
langchain-google-genai

# FastAPI and web server
fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
email-validator
aiofiles

# MongoDB
motor
pymongo

# cloud
azure-storage-blob